*{
    padding:0;
    margin:0;
    text-align: center;
}
.wrap{
    width: 500px;
    margin: 100px auto 0;

}
table{
    border-collapse: collapse;
    border-spacing: 0;
    border:1px solid #c0c0c0;
    width: 500px;

}
th,td{
   border:1px solid #d0d0d0;
   color:#404060;
   padding: 10px; 
}

th{
    background: #09c;
    font:bold 16px '微软雅黑';
    color:#fff;

}
td{
    font: 14px '微软雅黑';
}
tbody tr{
    background: #f0f0f0;
    cursor: pointer;
}
.current{
    background-color: red !important;
}