*{
	padding: 0;
	margin: 0;
}
.box{
	width: 500px;
	height: 200px;
	border:1px solid #ccc;
	margin:  50px auto;
	overflow: hidden;
}
ul{
	width: 600px;
	height: 40px;
	margin-left:-1px; 
	list-style-type: none;
}
li{
	float: left;
	width: 101px;
	height: 40px;
	text-align: center;
	font:600 18px/40px 'simun';
	background-color: pink;
	cursor: pointer;
}
span{
	display: none;
	width: 500px;
	height: 160px;
	background-color: yellow;
	text-align: center;
	font: 700 100px/160px "simsun";
}
.show{
	display: block;
}
.current{
	background-color: yellow;
}