/* *{
    padding: 0;
    margin: 0;
}
.main{
    width: 1200px;
    height: 0 auto;
    margin:  50px auto;
    overflow: hidden;
}

.nav{
    width: 1200px;
    height: 80px;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    width: 25%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}

.changeColor{
    background: #ffcc00;
    border-radius: 5px;
}

.banner{
    width: 1200px;
    height: 460px;
    overflow: hidden;
}

.banner-silde{
    width: 1200px;
    height: 460px;
    background-repeat:no-repeat;
    position: absolute;
}

.silde1{
    background-image:url('images/1.jpg') ;
}

.silde2{
    background-image:url('images/2.jpg') ;
}

.silde3{
    background-image:url('images/3.jpg') ;
}

.silde4{
    background-image:url('images/4.jpg') ;
} */
* {
    padding: 0;
    margin: 0;
}
 
.main {
    width: 1200px;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}
 
.nav {
    width: 1200px;
    height: 80px;
}
 
ul {list-style-type: none;}
 
li {
    float: left;
    width: 25%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}
 
.changeColor {
    background: #ffcc00;
    border-radius: 5px;
}
 
.banner {
    width: 1200px;
    height: 460px;
    overflow: hidden;
}
 
.banner-slide {
    width: 1200px;
    height: 460px;
    background-repeat: no-repeat;
    position: absolute;
    background-size:100% 100%; 
}
 
.slide1 {
    background-image: url("images/1.jpg");
}
.slide2 {
    background-image: url("images/2.jpg");
}
.slide3 {
    background-image: url("images/3.jpg");
}
.slide4 {
    background-image: url("images/4.jpg");
}
.w{
    width: 100%;
    height: 80px;
}